mixin safari(imgPath, id, startActive, ...items)
  .browser
    .browser__content
      each item in items
        img(src=`${imgPath}${item}.png` class=`${item == startActive ? 'active': ''} ${attributes.class}` id=id+item loading="lazy")