mixin safari(imgPath, id, ...items)
  .browser
    .browser__content
      each item in items
        img(src=`${imgPath}${item}.png` class=`${item == 1 ? 'active': ''} ${attributes.class}` id=id+item loading="lazy")