mixin safari-mob(imgPath, id, startActive, ...items)
  .browser-mob
    .browser-mob__content
      each item in items
        img(data-src=`${imgPath}${item}.png` src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=" class=`${item == startActive ? 'active': ''} ${attributes.class}` id=id+item)

        noscript
         img(src=`${imgPath}${item}.png`)